/target
/local
classes

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store
/demo-showcase/demo-webapp/src/main/gwt-unitCache/
/demo-showcase/demo-webapp/src/main/webapp/WEB-INF/lib/
/demo-showcase/demo-webapp/src/main/webapp/org.uberfire.DemoShowcase/
